 .gallery{
  text-align: center;  
}
.gallery img{
    width: 200px;
    height: 150px;
    padding: 6px;
    background-color: #ddd;
    border: 1px solid black;
    cursor: pointer;
}
.overly{
    position: fixed;
    top:0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.846);
    width: 100%;
    height: 100%;
}
.imgpc{
     
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

}
.imgp{
    max-width: 100%;
}